@import "./bottom-nav.scss";
@import "./tag.scss";
@import "./markdown.scss";
@import "./text-input.scss";
@import "./gfm.scss";
@import "./new-image.scss";
@import "./image-view.scss";
@import "./image-editor.scss";
@import "./text-button.scss";
@import "./page-container.scss";
@import "./settings.scss";
@import "./dialog.scss";
@import "./checkbox.scss";
@import "./person-date.scss";
@import "./dropdown.scss";
@import "./circle.scss";
@import "./portrait.scss";
@import "./button.scss";
@import "./editor-parts.scss";

body {
    margin: 0;
    line-height: inherit;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.app-div {
    position: relative;
    min-height: 100vh;
}

.background-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.app-main {
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

.wrapper-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-inner {
        width: 100%;
        height: 95vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.acrylic {
    backdrop-filter: blur(60px);
    background-color: rgba($color: white, $alpha: 0.8);
}
