@import "./bottom-nav.scss";
@import "./tag.scss";
@import "./markdown.scss";
@import "./text-input.scss";
@import "./gfm.scss";
@import "./new-image.scss";
@import "./image-view.scss";
@import "./image-editor.scss";
@import "./text-button.scss";
@import "./page-container.scss";
@import "./settings.scss";
@import "./dialog.scss";
@import "./checkbox.scss";
@import "./person-date.scss";
@import "./dropdown.scss";
@import "./circle.scss";

body {
    margin: 0;
    line-height: inherit;
    background-color: darkcyan;
}

.app-div {
    position: relative;
    min-height: 100vh;
}

.app-main {
    width: 100%;
    min-height: 100vh;
}

.wrapper-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-inner {
        width: 100%;
        height: 95vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
