.button-add-new {
    cursor: pointer;
    fill: none;
    stroke: #14b8a6;
    background-color: transparent;
    transition-duration: 300ms;
    border-color: transparent;

    &:hover {
        --tw-rotate: 90deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
            scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }

    svg {
        stroke: #14b8a6;
        fill: none;
        transition-duration: 300ms;
        &:hover {
            fill: #115e59;
        }
        &:active {
            fill: #0d9488;
            stroke: #99f6e4;
            transition-duration: 0s;
        }
    }
}
