.markdown {
    &-reader {
        width: 90%;
        height: 90vh;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        &-code {
            width: 45%;
            height: 100%;
            margin: auto;
            padding: 0 1rem;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: #f5f5f5;
            border-radius: 1rem;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            box-shadow:
                0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 3px 1px rgba(0, 0, 0, 0.04);

            &::-webkit-scrollbar {
                display: none;
            }

            textarea {
                width: 95%;
                height: 95%;
                border: 1rem;
                padding: 1rem;
                background-color: #150901;
                font-family: "Cascadia Code";
                font-size: 1rem;
                resize: none;
                color: #2da3d6;
                &:focus {
                    outline: none;
                }
            }

            .container-lines {
                border-right: 1px solid rgb(203 213 225);
                padding: 0.5rem;
                text-align: right;
                overflow: hidden;
            }
        }

        &-rendered {
            width: 45%;
            height: 100%;
            margin: auto;
            padding: 0 1rem;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: #fff;
            border-radius: 1rem;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;

            box-shadow:
                0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 3px 1px rgba(0, 0, 0, 0.04);

            &::-webkit-scrollbar {
                display: none;
            }

            .markdown-body {
                width: 98%;
                height: 95%;
                margin: auto;
                padding: 0 1rem;
                overflow-y: scroll;
                overflow-x: hidden;
                background-color: #fff;
                border-radius: 1rem;
                font-family: Helvetica, arial, sans-serif;
                font-size: 14px;
                line-height: 1.6;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: white;
                color: #333;

                > *:first-child {
                    margin-top: 0 !important;
                }

                > *:last-child {
                    margin-bottom: 0 !important;
                }

                @import "./gfm.scss";
            }
        }
    }
}
