.portrait-cell {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-portrait-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: auto;
    &:hover {
        cursor: pointer;
    }
}

.portrait-board {
    display: flex;
    width: 80%;
    height: 80%;
    border-radius: 25px;
}
