.tagging {
    &-tags {
        position: relative;
    }

    &-clear-all {
        cursor: pointer;
        padding: 10px;
        margin: 10px;
        background: #f88d8d;
        color: #fff;
        border: none;
    }

    &-tag-input {
        border-radius: 2px;
        display: inline-block;
    }
    &-tag-input input.tagging-tag-input-field,
    &-tag-input input.tagging-tag-input-field:focus {
        font-size: 12px;
        border: 1px solid #eee;
        min-width: 150px;
    }

    &-edit-input {
        border-radius: 1px;
    }

    &-edit-tag-input {
        display: inline-flex;
    }

    &-selected span.tagging-tag {
        border: 1px solid #ddd;
        background: #63bcfd;
        color: white;
        font-size: 12px;
        display: inline-block;
        padding: 5px;
        margin: 0 5px;
        border-radius: 2px;
    }
    &-selected a.tagging-remove {
        color: #aaa;
        margin-left: 5px;
        cursor: pointer;
    }

    &-suggestions {
        position: absolute;
        ul {
            list-style-type: none;
            box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
            background: white;
            width: 200px;
        }
        li {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            margin: 0;
        }
        li mark {
            text-decoration: underline;
            background: none;
            font-weight: 600;
        }
        ul li.tagging-suggestion-active {
            background: #63bcfd;
            cursor: pointer;
        }
    }

    &-remove {
        border: none;
        cursor: pointer;
        background: none;
        color: white;
    }

    &-error {
        color: #e03131;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            padding: 0 5px;
        }
    }
}
